<!--<h2 class="container text-center" style="color: chartreuse;"> <b>  Products works! </b></h2>-->
<div class="container">
    <div class="row">
        <div class="card col-md-4" *ngFor="let prod of products" style="width:200px; height:400px; margin: 5px;">
            <img class="card-img-top" src="{{prod.imgsrc}}" alt="Card image" style="width:100%; margin-top: 3px;">
            <div class="card-body">
                <h4 class="card-title">{{prod.name}}</h4>
                <p class="card-text"> {{prod.description}} </p>
                <p class="card-text"><b>Price: </b> ₹{{prod.price}}/-</p>
                <p align="right">
                    <button (click)="addToCart(prod)" class="btn btn-primary">AddToCart</button>
                </p>
            </div>
        </div>
    </div>