<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>



<h1 align="center">ShowEmployeeById</h1> <br/>
<div class="container text-center" style="background-color: rgb(207, 232, 181); width: 350px; height: 150px;">
    
    <h5 align="center" style="color: rgb(155, 10, 20);" > Get Employee By Id</h5>

    <div class="input-group"> 
<input type="number" placeholder="Enter Employee Id" [(ngModel)]="empId" class="form-control" ><span class="glyphicon glyphicon-search input-group-addon" ></span>
</div><br>
<br>
<button (click)="getEmployee()" style="border-radius: 20px;"> Get Employee</button>
</div>
<br>

<div align="center" *ngIf="employee">
    <h3 align="right">Welcome  {{employee.emailId}}!</h3>
    <table align="center"  class="table table-sm table-hover table-striped table-bordered">
       
        <thead>
            <tr>
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">EmailId</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.doj}}</td>
                <td>{{employee.country}}</td>
                <td>{{employee.emailId}}</td>
            </tr>
        </tbody>
    </table>
</div>