<!--<app-test></app-test>-->
<!--<app-test2></app-test2>-->
<!--<app-login></app-login>-->
<!--<app-registartion></app-registartion> -->
<!--<app-showemployees></app-showemployees>-->
<!--<app-show-emp-by-id></app-show-emp-by-id>-->
<app-header></app-header>

<router-outlet></router-outlet>
<!-- <app-cart></app-cart> -->
