<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<div class="container text-center"        style=" width: 300px; margin-top: 2px; background-color: rgb(212, 238, 207);" >
<form #RegisterForm="ngForm"  (ngSubmit)="Register(RegisterForm.value)">  

<h3 align="center"> Employee Registration</h3>
<table align="text-center" style="margin-left: 40px;">
    <tbody>
      <!--  <tr>
            <td align="right" style="color: rgb(140, 140, 222);"  class="glyphicon glyphicon-italic input-group-addon input-group"><b>D</b> </td>
            <td align="left">  <input type="text" name="empId"  style="width: 150px;"  class="form-control" #empId="ngModel" [(ngModel)]="employee.empId"  required /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="empId.errors?.['required'] && empId.touched">Enter EmpId</p>
        </tr>
        -->
        <tr>
            <td align="right" style="color: rgb(140, 140, 222);"  class="glyphicon glyphicon-user input-group-addon input-group"> </td>
            <td align="left">  <input type="text" name="empName"   style="width: 150px;" class="form-control" #empName="ngModel" [(ngModel)]="employee.empName"  required/> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="empName.errors?.['required'] && empName.touched">Enter Empname</p>
        </tr>
        <tr>
            <td align="right"  style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-usd input-group-addon input-group" ></td>
            <td align="left">  <input  class="form-control" type="text"  style="width: 150px;" name="salary"  #salary="ngModel" [(ngModel)]="employee.salary"  required    /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="salary.errors?.['required'] && salary.touched">Enter salary</p>
        </tr>
        <tr>
            <td align="right" style="color: rgb(140, 140, 222);" class="input-group-addon input-group" > <b> ♀♂⚲ </b></td>
            <td align="left" class="form-control"  style="width: 150px;">  
                <select name="gender"  #gender="ngModel"[(ngModel)]="employee.gender"    required>
                    <option value="" selected >Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="gender.errors?.['required'] && gender.touched">Select Gender</p>
        </tr>
        <tr>
            <td align="right" style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-calendar input-group-addon input-group">  </td>
            <td align="left">  <input type="date" name="doj"  style="width: 150px;" #doj="ngModel" [(ngModel)]="employee.doj"  required /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="doj.errors?.['required'] && doj.touched">Enter Join Date</p>
        </tr>
        <tr>
            <td align="right" style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-globe  input-group-addon input-group"> </td>
            <td align="left" class="form-control"  style="width: 150px;">  
                <select name="country"   #country="ngModel"[(ngModel)]="employee.country"  required   style="width: 120px;">
                    <option value=""  selected  style="width: 150px;">Select Country</option>
                <option value="{{country.cca3}}"   style="width: 150px;" *ngFor="let country of countries">{{country.name.common}}</option>
            
                </select> </td>
           <p style="color:rgb(255, 0, 0);" *ngIf="country.errors?.['required'] && country.touched">Select Country</p>
        </tr>
        <tr>
            <td align="right" style="color: rgb(140, 140, 222); "   class="glyphicon glyphicon-envelope input-group-addon input-group" >  </td>
            <td align="left">  <input type="text" name="emailId"  style="width: 150px;" class="form-control" #emailId="ngModel" [(ngModel)]="employee.emailId"  required minlength="2" /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</p>
        </tr>
        <tr>
            <td align="right"  style="color: rgb(140, 140, 222);" class=" glyphicon glyphicon-lock  input-group-addon input-group">  </td>
            <td align="left">  <input type="password" name="password"  style="width: 150px;" #password="ngModel" [(ngModel)]="employee.password"  required minlength="8"/> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="password.errors?.['required'] && password.touched">Enter Password</p>
        </tr>
        <tr>
            <td align="right" style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-briefcase input-group-addon input-group">  </td>
            <td align="left" class="form-control" style="width: 150px;">  
                <select name="department" [(ngModel)]="employee.department.deptId">
                    <option value="" selected>Select Department</option>
                    <option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}</option>
                </select>
            </td>
           <!-- <p style="color:rgb(255, 0, 0);" *ngIf="department.errors?.['required'] && department.touched">Select  Department</p>-->
   
        </tr>
        <tr>
            <td align="right"></td>
            <td align="left">  <button  (click)="register()"  style="color: rgb(55, 8, 80);  border-radius: 20px; margin-top: 10px;  margin-left: 20px;  background-color: rgb(231, 205, 180);">Register</button> </td>
        </tr>
    </tbody>
</table>
</form>
</div>






