<h1> Id: {{id}}</h1>
<h1> Name: {{name}}</h1>
<h1> Age: {{age}}</h1>
<h2> <u> Address</u></h2>
Street: {{address.streetNo}}
<br>
City:{{address.city}}
<br>
State:{{address.state}}
<h3><u> Hobbies</u></h3>
<ul>
<li *ngFor="let hobby of hobbies">{{hobby}}</li>


</ul>

