<!--<div class="container text-center"  style="background-color: antiquewhite; width: 300px;" >
    <form #loginForm="ngForm"  (ngSubmit)="loginSubmit(loginForm.value)">  
        <h3>LOGIN PAGE</h3>
        <label > <b> Email ID : </b></label>
        <input type="Text" placeholder=" Enter EmailId id" style="background-color: rgb(245, 235, 245);" name="EmailId" #emailId="ngModel" ngModel  required minlength="2" >
        <br>
        <br>
        <label><b>Password : </b></label>
        <input type="password" placeholder="Enter password"  style="background-color: rgb(245, 235, 245);"name="password"  #password="ngModel"ngModel required minlength="2"   >
        <br>
        <br>
        <button [disabled]="!loginForm.valid" style="background-color: rgb(162, 207, 192); color: rgb(102, 102, 169);"> <b>Login</b></button>
    </form> 
    </div>
    <div align="center">
        <div style="color:red;" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</div>
        <div style="color:red;" *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>
    
        <div style="color:red;" *ngIf="emailId.errors?.['minlength'] && emailId.touched">Provide atleast 2 character for Email-Id</div>
        <div style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</div>
    </div>
-->
    
   
    <!-- <p style="color: rgb(8, 0, 255);" class="container text-center"><b> Logged out ! </b></p> -->
