<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>
<div class="container text-center"  style="background-color: rgb(215, 222, 250); width: 250px; height: 210px;" >
<form #loginForm="ngForm"  (ngSubmit)="loginSubmit(loginForm.value)" novalidate>  
    <h3>LOGIN PAGE</h3>
    <div class="input-group">
       
    <span  class="input-group-addon"> <i class="glyphicon glyphicon-user"></i></span>
    <input  class="form-control"    type="Text" placeholder=" Enter EmailId id" style="background-color: rgb(245, 235, 245); margin-right: 20px;"  name="EmailId" #emailId="ngModel" ngModel  required minlength="2" >
        
    </div>
    <br>
    <br>
    <div class="input-group">
    <span  class="input-group-addon"><i class=" glyphicon glyphicon-lock"></i></span>
    <input class="form-control" type="password" placeholder="Enter password"  style="background-color: rgb(245, 235, 245); margin-right: 20px;"name="password"  #password="ngModel" ngModel required minlength="2"   >
</div>
   
    <button [disabled]="!loginForm.valid" style="background-color: rgb(162, 207, 192); color: rgb(102, 102, 169); border-radius: 20px; margin-top:10px;" > <b>Login</b></button>
</form> 
</div>
<div align="center">
    <div style="color:red;" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</div>
    <div style="color:red;" *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>

    <div style="color:red;" *ngIf="emailId.errors?.['minlength'] && emailId.touched">Provide atleast 2 character for Email-Id</div>
    <div style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</div>
</div>


    
<!--<div>     
<h3>LOGIN PAGE</h3>
<label class="l"> <b> Email ID</b></label>
<input  class="Id"type="Text" placeholder=" Enter Email id" name="loginId" [(ngModel)]="emailId">
<br>
<br>
<label><b>Password</b></label>
<input class="pass" type="Text" placeholder="Enter password"  name="password"    [(ngModel)]="password">
<br>
<br>
<button (click)="login()"> <b>Login</b></button>
</div>-->
