
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<h3 align="center" style="margin-top: 10px; color: rgb(164, 32, 144);" >Show Employees</h3>

<div class="container">
    <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="text-center">
            <th class="bg-info text-white">empId</th>
            <th class="bg-info text-white">empName</th>
            <th class="bg-info text-white">salary</th>
            <th class="bg-info text-white">gender</th>
            <th class="bg-info text-white">doj</th>
            <th class="bg-info text-white">country</th>
            <th class="bg-info text-white">emailId</th>
            <th class="bg-info text-white">Experience</th>
            <th class="bg-info text-white" colspan="2">Actions</th>
        
        </tr>
    </thead>
    <tbody>
<tr *ngFor="let emp of employees" class="text-center">
<td>{{emp.empId}}</td>
<td>{{emp.empName|uppercase|gender:emp.gender}}</td>
<td>{{emp.salary|currency:'USD'}}</td>
<td>{{emp.gender|lowercase}}</td>
<td>{{emp.doj|date:'mm-dd-yyyy'}}</td>
<td>{{emp.country}}</td>
<td>{{emp.emailId}}</td>
<td>{{emp.doj     |exp}}</td>
<td><button (click)="editEmp(emp)"><span class="glyphicon glyphicon-edit"></span></button></td>
            <td><button (click)="deleteEmp(emp)"><span class="glyphicon glyphicon-trash"></span></button></td>
</tr>

</tbody>
</table>
</div>



<div>
    
<div class="modal fade" id="empModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="container text-center"        style=" width: 300px; margin-top: 2px; background-color: rgb(212, 238, 207);" > 
            <table align="text-center" style="margin-left: 40px;">
                <tbody>
                    <!--<tr>
                        <td align="right" style="color: rgb(140, 140, 222);"  class="glyphicon glyphicon-italic input-group-addon input-group"><b>D</b> </td>
                        <td align="left">  <input type="text" name="empId"  style="width: 150px;"  class="form-control" #empId="ngModel" [(ngModel)]="employee.empId" readonly  required /> </td>
                        <p style="color:rgb(255, 0, 0);" *ngIf="empId.errors?.['required'] && empId.touched">Enter EmpId</p>
                    </tr>-->
                
                    <tr>
                        <td align="right" style="color: rgb(140, 140, 222);"  class="glyphicon glyphicon-user input-group-addon input-group"> </td>
                        <td align="left">  <input type="text" name="empName"   style="width: 150px;" class="form-control" #empName="ngModel"[(ngModel)]="employee.empName"  required/> </td>
                        <p style="color:rgb(255, 0, 0);" *ngIf="empName.errors?.['required'] && empName.touched">Enter Empname</p>
                    </tr>
                    <tr>
                        <td align="right"  style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-usd input-group-addon input-group" ></td>
                        <td align="left">  <input  class="form-control" type="text"  style="width: 150px;" name="salary"  #salary="ngModel" [(ngModel)]="employee.salary"  required    /> </td>
                        <p style="color:rgb(255, 0, 0);" *ngIf="salary.errors?.['required'] && salary.touched">Enter salary</p>
                    </tr>
                    <tr>
                        <td align="right" style="color: rgb(140, 140, 222);" class="input-group-addon input-group" > <b> ♀♂⚲ </b></td>
                        <td align="left" class="form-control"  style="width: 150px;">  
                            <select name="gender"  #gender="ngModel" [(ngModel)]="employee.gender" required>
                                <option value="" selected >Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </td>
                        <p style="color:rgb(255, 0, 0);" *ngIf="gender.errors?.['required'] && gender.touched">Select Gender</p>
                    </tr>
                    <tr>
                        <td align="right" style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-calendar input-group-addon input-group">  </td>
                        <td align="left">  <input type="date" name="doj"  style="width: 150px;" #doj="ngModel" [(ngModel)]="employee.doj"  required /> </td>
                        <p style="color:rgb(255, 0, 0);" *ngIf="doj.errors?.['required'] && doj.touched">Enter Join Date</p>
                    </tr>
                    <tr>
                        <td align="right" style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-globe  input-group-addon input-group"> </td>
                        <td align="left" class="form-control"  style="width: 150px;">  
                            <select name="country"    [(ngModel)]="employee.country"    style="width: 120px;">
                                <option value=""  selected  style="width: 150px;">Select Country</option>
                             
                          
                                <option value="{{country.cca3}}"   style="width: 150px;" *ngFor="let country of countries">{{country.name.common}}</option>
                        
                            </select> </td>
                      <!--<p style="color:rgb(255, 0, 0);" *ngIf="country.errors?.['required'] && country.touched">Select Country</p>--> 
                    </tr>
                    <tr>
                        <td align="right" style="color: rgb(140, 140, 222); "   class="glyphicon glyphicon-envelope input-group-addon input-group" >  </td>
                        <td align="left">  <input type="text" name="emailId"  style="width: 150px;" class="form-control" #emailId="ngModel" [(ngModel)]="employee.emailId"  required minlength="2" /> </td>
                        <p style="color:rgb(255, 0, 0);" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</p>
                    </tr>
                    <tr>
                        <td align="right"  style="color: rgb(140, 140, 222);" class=" glyphicon glyphicon-lock  input-group-addon input-group">  </td>
                        <td align="left">  <input type="password" name="password"  style="width: 150px;" #password="ngModel" [(ngModel)]="employee.password" readonly  /> </td>
                        <!--<p style="color:rgb(255, 0, 0);" *ngIf="password.errors?.['required'] && password.touched">Enter Password</p>-->
                    </tr>
                    <tr>
                        <td align="right" style="color: rgb(140, 140, 222);" class="glyphicon glyphicon-briefcase input-group-addon input-group">  </td>
                        <td align="left" class="form-control" style="width: 150px;">  
                            <select name="department" [(ngModel)]="employee.department.deptId">
                                <option value="" selected>Select Department</option>
                                <option value="{{dept.deptId}}" *ngFor="let dept of department">{{dept.deptName}}</option>
                            </select>
                        </td>
                      
               
                    </tr>
                   
                </tbody>
            </table>
          
            </div>
           
            
         

        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateEmp()" class="btn btn-primary" data-dismiss="modal">Update Employee</button>
        </div>

      </div>
    
    </div>
  </div>

</div>